html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  ::-webkit-scrollbar { display:none }
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.layout {
  text-align: center;
  overflow: hidden;
  @media (min-width : 768px) {
    overflow: unset;
    display: grid;
    grid-template-columns: 34vh 162vh;
    text-align: left;
  }
}

.nav-container {

  @media (min-width : 768px) {
    position: sticky;
    align-self: start;
    top: 0;
  }

}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3vh;
  @media (min-width : 576px) {
    margin-top: 3vh;
  }
}


.text-container {
  padding: 0 25px;
  margin: 0 auto;
  text-align: center;

  @media (min-width : 576px) {
      max-width: 400px;
  }   

  @media (min-width : 768px) {
      margin: 0;
      max-width: 485px;
      text-align: left;
  }   

  @media (min-width : 992px) {
      max-width: 700px;
  }   

  @media (min-width : 1200px) {
      max-width: 880px;
  }   

  @media (min-width : 1400px) {
      max-width: 1000px;
  }   

  @media (min-width : 1600px) {
      max-width: 1250px;
  }   

  @media (min-width : 2000px) {
      max-width: 1700px;
  }   
}

.nav-flex-column {
  padding: 2rem;
  .icon {
    
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    margin: 2vh auto;
    @media (min-width : 768px) {
      margin-top: 2vh;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  } 
}

.homeLink {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.homeLink:hover {
  color: #34ebba;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 4.8vh;
  text-decoration: none;
}

.social:hover {
  filter: brightness(76.5%) sepia(50) saturate(95) hue-rotate(115deg);
}

.nav-link:hover {
  color: #34ebba
}

.text {
  font-size: 9.5vw;
  overflow:hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #34ebba;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  @media only screen and (min-width : 576px) {
      font-size: 8vw;
  }   
  @media only screen and (min-width : 1400px) {
      font-size: 5vw;
  }   
}

.text-two {
  @extend .text; 
  @media only screen and (min-width : 576px) {
    font-size: 5vw;
}   
  @media only screen and (min-width : 1400px) {
    font-size: 3vw;
  }   
}

.text-three {
  @extend .text; 
  @media only screen and (min-width : 576px) {
    font-size: 4vw;
}   
  @media only screen and (min-width : 1400px) {
    font-size: 2.5vw;
  }   
}

.text-four {
  @extend .text; 
  font-size: 7vw;
  @media only screen and (min-width : 576px) {
    font-size: 6vw;
}   
  @media only screen and (min-width : 1400px) {
    font-size: 3.5vw;
  }   
}

a {
  text-decoration: none;
}

.project-name {
  :hover {
      background: red;
  }
}

iframe {
  #document {
    html {
      .vp-center {
        justify-content: flex-start
      }
    }

  }
}